<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot User Directory2</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <h1>test</h1>
    {{#id}}
      <div class="userCard">


        <img src="{{avatar}}" />
        <h2>{{name}}</h2>
        <h3>{{address.city}}, {{address.country}} | {{job}} {{company}}</h3>

      </div>


    {{/id}}
  </body>
</html>
