<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot User Directory2</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    {{#users}}

      <img src="{{avatar}}" />

    {{/users}}
  </body>
</html>
