.directory{
  display: grid;
  grid-template-columns: repeat(4,23.3vw);
  justify-content: space-between;
  grid-gap: 1.6vw;
}
.user{
  display: grid;
  grid-template-columns: repeat(5,20vw);
  grid-template-rows: repeat(5,20vh);
}
.individual{
  grid-column: 2/5;
  grid-row: 2/5;
  border: 2px solid grey;
  background-color: red;
}
.userCard{
  outline: 2px solid grey;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  align-items: center;
  justify-content: flex-start;
}
h1{
  grid-column: span 4;
}

img{
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
}
